* {
  background-color: #ecf5f1;
}

 






/* simple responsiveness solution css  */



@media only screen and (max-width:800px) {
  /* For tablets: */
  body {
    width: 80%;
    padding: 0;
  }
  body {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  body {
    width: 100%;
  }
}